/* SETTINGS------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS------------------------------------------------------ */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* DEBUG--------------------------------------------------------- */

.debug {
  min-height: 80px;
  background-color: lightgrey;
  border: 3px dashed red;
}

.container-fluid {
  background-image: linear-gradient(
    to bottom,
    #009688 0vh,
    #009688 15vh,
    #d8dbd6 15vh,
    #d8dbd6 100vh
  );
  height: 100vh;
}

/* SIDEBAR */

.side-bar {
  display: flex;
  flex-direction: column;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0deg 0% 91.76%);
  padding: 0 5px;
}

.white-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header .fa-solid {
  margin: 10px;
  color: hsl(0deg 0% 69.41%);
  font-size: 1.5rem;
}

.update-bar {
  background-color: hsl(198.55deg 94.83% 77.25%);
  height: 70px;
}

.update-bar .fa-solid {
  margin: 10px;
  color: hsl(198.55deg 94.83% 77.25%);
  font-size: 1.5rem;
  background-color: white;
  border-radius: 50%;
  padding: 10px 8px;
}

.update-bar span:last-child {
  display: block;
  text-decoration: underline;
  color: gray;
  font-size: 0.8rem;
}

.search-bar {
  background-color: hsl(0deg 0% 91.76%);
  height: 50px;
}

.contacts {
  flex-grow: 1;
  background-color: hsl(0deg 0% 100%);
}

.contact {
  padding: 5px 10px;
}

.contact-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

h6 {
  color: lightgrey;
}
