/* SETTINGS------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS------------------------------------------------------ */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h6 small {
  color: gray;
}

.crop {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
  overflow: hidden;
}

/* DEBUG--------------------------------------------------------- */

.debug {
  min-height: 80px;
  background-color: lightgrey;
  border: 3px dashed red;
}

/* GENERAL */

.container-fluid {
  background-image: linear-gradient(
    to bottom,
    #009688 0vh,
    #009688 15vh,
    #d8dbd6 15vh,
    #d8dbd6 100vh
  );
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  height: 90vh;
}

/* SIDEBAR */

.side-bar {
  display: flex;
  flex-direction: column;
}

/* ! HEADERS */

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0deg 0% 91.76%);
  padding: 0 5px;
}

.user-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header .fa-solid {
  margin: 10px;
  color: hsl(0deg 0% 69.41%);
  font-size: 1.5rem;
}

/* ! UPDATE BAR */

.update-bar {
  background-color: hsl(198.55deg 94.83% 77.25%);
  height: 70px;
}

.update-bar .fa-solid {
  margin: 10px;
  color: hsl(198.55deg 94.83% 77.25%);
  font-size: 1.5rem;
  background-color: white;
  border-radius: 50%;
  padding: 10px 8px;
}

.update-bar span:last-child {
  display: block;
  text-decoration: underline;
  color: gray;
  font-size: 0.8rem;
}

/* ! SEARCHBAR */

.search-bar {
  background-color: hsl(0deg 0% 91.76%);
  height: 50px;
}

/* ! CONTACTS SECTION */

.contacts {
  flex-grow: 1;
  background-color: hsl(0deg 0% 100%);
  overflow-y: scroll;
  height: calc(90vh - 190px);
}

.contact {
  padding: 5px 10px;
}

.contact-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

/* MAIN BAR */

/* ! HEADER SAME AS PREVIOUS */

/* ! CHAT CONTAINER */

.chat-container {
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
  height: calc(90vh - 140px);
  width: 100%;
}

.message {
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  max-width: 80%;
}

.message.sent {
  background-color: hsl(94.29deg 84% 85.29%);
  align-self: flex-end;
}

.message.received {
  background-color: white;
  align-self: flex-start;
}

/* ! CHAT INPUT BAR */

.chat-input-bar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(26.67deg 27.27% 93.53%);
  padding: 0 10px;
}

.vocal-input,
.emoticons-input {
  padding: 0px 20px;
  font-size: 1.5rem;
  color: grey;
}
